{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row mt-4">
    <img width="100%" height="350vh" src="https://www.jiomart.com/images/cms/offers/1657282650_ICICI-Bank-Offer-Banner-910x380-30_06_2022.jpg" alt="">
    </div>


<div class="container mt-3">
    <div class="row m-1">
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="card" style="width: 100%;">
                  <img height="350vh" src="{% static "image/wf-1.jpg" %}" class="card-img-top" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">CHURIDAR</h4>
                    <p>$ <span>2500</span></p>
                    <p class="card-text">Unstiched Blouse Pieceadipiscing elit. adipiscing elit.</p>
                    <a href="#" class="btn btn-primary">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="card">
                  <img height="350vh" src="{% static "image/mf-1.jpg" %}" class="card-img-top" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">SHIRT</h4>
                    <p>$ <span>2200</span></p>
                    <p class="card-text">XPIOR Funky Printed Shirt for Men.</p>
                    <a href="#" class="btn btn-primary">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="card">
                  <img height="350vh" src="{% static "image/wf-2.jpg" %}" class="card-img-top" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">SAREE</h4>
                    <p>$ <span>3500</span></p>
                    <p class="card-text">Women's Satin Dola Silk Embroidery Saree With </p>
                    <a href="#" class="btn btn-primary">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="card">
                  <img height="350vh" src="{% static "image/wf-3.jpg" %}" class="card-img-top" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">ANARKALI</h4>
                    <p>$ <span>1800</span></p>
                    <p class="card-text">Unstiched Blouse Pieceadipiscing elit.</p>
                    <a href="#" class="btn btn-primary">Learn more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
    </div>

  </div>


  
  <div class="container">
    <div class="row m-1">
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="card">
                  <img height="350vh" src="{% static "image/mf-2.jpg" %}" class="card-img-top" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">SUITE</h4>
                    <p>$ <span>2400</span></p>
                    <p class="card-text">adipiscing Stylish Printed Casual Shirt.</p>
                    <a href="#" class="btn btn-primary">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="card">
                  <img height="350vh" src="{% static "image/mf-3.jpg" %}" class="card-img-top" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">OFF SHIRT</h4>
                    <p>$ <span>1900</span></p>
                    <p class="card-text">Men Regular Fit Solid Casual Shirt .r .</p>
                    <a href="#" class="btn btn-primary">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="card">
                  <img height="350vh" src="{% static "image/wf-4.jpg" %}" class="card-img-top" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">STREAT STYLE</h4>
                    <p>$ <span>4500</span></p>
                    <p class="card-text">Western Dresses for Women | A-Line Knee-Length Dress .</p>
                    <a href="#" class="btn btn-primary">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="card">
                  <img height="350vh" src="{% static "image/mf-4.jpg" %}" class="card-img-top" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">PRINTED</h4>
                    <p>$ <span>2900</span></p>
                    <p class="card-text"> Digital Printed Lycra Shirts & Party Wear Printed .</p>
                    <a href="#" class="btn btn-primary">Learn more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
    </div>

  </div>



  
  <div class="container">
    <div class="row m-1 mb-1">
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="card">
                  <img height="350vh" src="{% static "image/wf-5.jpg" %}" class="card-img-top" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">MODERN SHORT</h4>
                    <p>$ <span>1500</span></p>
                    <p class="card-text"> TRENDY MODERN COMFORTABLE WOMEN , .</p>
                    <a href="#" class="btn btn-primary">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="card">
                  <img height="350vh" src="{% static "image/mf-5.jpg" %}" class="card-img-top" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">5 SLEEVE SHIRT</h4>
                    <p>$ <span>3100</span></p>
                    <p class="card-text">Kizyoo Casual Shirt for Men Stylish Shirt.</p>
                    <a href="#" class="btn btn-primary">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="card">
                  <img height="350vh" src="{% static "image/wf-6.jpg" %}" class="card-img-top" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">PARTY FIT</h4>
                    <p>$ <span>3500</span></p>
                    <p class="card-text">parth fashion Hub Womens 's Digital Printed Stylish.</p>
                    <a href="#" class="btn btn-primary">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="card">
                  <img height="350vh" src="{% static "image/mf-6.jpg" %}" class="card-img-top" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">CASUAL SHIRT</h4>
                    <p>$ <span>3800</span></p>
                    <p class="card-text">DHRUVI TRENDZ Shirt |Casual  Men |Shirt for Boys .</p>
                    <a href="#" class="btn btn-primary">Learn more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
    </div>

  </div>

{% endblock %}