{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row mt-4">
    <img width="100%" height="350vh" src="https://www.jiomart.com/images/cms/offers/1657282650_ICICI-Bank-Offer-Banner-910x380-30_06_2022.jpg" alt="">
    </div>


<div class="container mt-3">
    <div class="row m-1">
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="card" style="width: 100%;">
                  <img height="350vh" src="{% static "image/ring.jpg" %}" class="card-img-top" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">DIAMOND RING</h4>
                    <p>$ <span>19000</span></p>
                    <p class="card-text">Eternal Solitaire Bridal Ring Set. 18 KT Yellow Gold. Size 12.</p>
                    <a href="#" class="btn btn-primary">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="card">
                  <img height="350vh" src="{% static "image/ring2.jpg" %}" class="card-img-top" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">Topaz Ring </h4>
                    <p>$ <span>25000</span></p>
                    <p class="card-text">Heart Blue Topaz Gemstone Ring. Design - Quirky. Size 12.</p>
                    <a href="#" class="btn btn-primary">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="card">
                  <img height="350vh" src="{% static "image/ring3.jpg" %}" class="card-img-top" alt="Card image">
                  <div class="card-body">
                   
                    <h4 class="card-title">PLATINUM TAVOZ</h4>
                    <p>$ <span>32000</span></p>
                    <p class="card-text">Platinum Wedding Ring with Diamond (PT 950, 0.12 ct, IJ-SI)  </p>
                    <a href="#" class="btn btn-primary">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="card">
                  <img height="350vh" src="{% static "image/ring4.jpg" %}" class="card-img-top" alt="Card image">
                  <div class="card-body">
                   
                    <h4 class="card-title"> Petals Diamond Ring</h4>
                    <p>$ <span>15000</span></p>
                    <p class="card-text">Diamond Ring (0.09 ct, IJ-SI), 18 KT Yellow Gold Jewellery.</p>
                    <a href="#" class="btn btn-primary">Learn more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
    </div>

  </div>


  
  <div class="container">
    <div class="row m-1">
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="card">
                  <img height="350vh" src="{% static "image/chain1.jpg" %}" class="card-img-top" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title"> Plumeria Cluster</h4>
                    <p>$ <span>50000</span></p>
                    <p class="card-text">Diamond Pendant (0.19 ct, IJ-SI), 18 KT Yellow Gold Jewellery - Plumeria Cluster Diamond</p>
                    <a href="#" class="btn btn-primary">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="card">
                  <img height="350vh" src="{% static "image/chain2.jpg" %}" class="card-img-top" alt="Card image">
                  <div class="card-body">
                   
                    <h4 class="card-title">Amanda Diamond Pendant</h4>
                    <p>$ <span>55000</span></p>
                    <p class="card-text">Diamond Pendant (0.01 ct, IJ-SI), 14 KT Rose Gold Jewellery .</p>
                    <a href="#" class="btn btn-primary">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="card">
                  <img height="350vh" src="{% static "image/chain3.jpg" %}" class="card-img-top" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">CaratLane Yellow Gold</h4>
                    <p> $ <span>61500</span></p>
                    <p class="card-text">CaratLane Yellow Gold Falling Star Diamond Pendant 18 KT.</p>
                    <a href="#" class="btn btn-primary">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="card">
                  <img height="350vh" src="{% static "image/chain4.jpg" %}" class="card-img-top" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">Tendencies Necklace</h4>
                    <p>$ <span>68000</span></p>
                    <p class="card-text"> Silver Enamelled Pendant Necklace with Green Quartz Accents.</p>
                    <a href="#" class="btn btn-primary">Learn more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
    </div>

  </div>


  <div class="container-fluid">
    <div class="row bg-light m-3">
            <div class="col-md-6">
            <h3 class="m-3">WATCHES & BRACELETS</h3>
            </div>
            <div class="col-md-6 mt-1" >
                <a  href="{% url 'watche_ornaments' %}">
                    <svg style="float: right;"  xmlns="http://www.w3.org/2000/svg" width="10rem" height="3rem" fill="currentColor" class="bi bi-arrow-right-circle-fill text-dark " viewBox="0 0 16 16">
                        <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                      </svg>
                </a>
            </div>
    </div>
</div>
  <div class="container">
    <div class="row m-1">
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="card">
                  <img height="350vh" src="{% static "image/brace1.jpg" %}" class="card-img-top" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">Diamond Bracelet </h4>
                    <p>$ <span>18598</span></p>
                    <p class="card-text">Diamond Bracelet (0.09 ct, GH-SI), 18 KT Yellow Gold Jewellery - Delicate Flutter Pearl.</p>
                    <a href="#" class="btn btn-primary">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="card">
                  <img height="350vh" src="{% static "image/brace2.jpg" %}" class="card-img-top" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">Diamond Bracelet</h4>
                    <p>$ <span>23987</span></p>
                    <p class="card-text">Diamond Bracelet (0.11 ct, GH-SI) Gold Jewellery -  Cluster Diamond Bracelet for Women. </p>
                    <a href="#" class="btn btn-primary">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="card">
                  <img height="350vh" src="{% static "image/brace3.jpg" %}" class="card-img-top" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">Ruby Bracelet </h4>
                    <p>$ <span>30300</span></p>
                    <p class="card-text">Ruby Bracelet with Diamond (0.16 ct, GH-SI), 18 KT Rose Gold - Cape Lily Gemstone Bracelet. Design.</p>
                    <a href="#" class="btn btn-primary">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="card">
                  <img height="350vh" src="{% static "image/brace4.jpg" %}" class="card-img-top" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">Charm Bracelet in Gold </h4>
                    <p>$ <span>189230</span></p>
                    <p class="card-text">Vacay Mood Charm Bracelet in Gold Plated 925 Silver Bracelet .</p>
                    <a href="#" class="btn btn-primary">Learn more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
    </div>

  </div>


  
  <div class="container">
    <div class="row m-1">
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="card">
                  <img height="350vh" src="{% static "image/watch1.jpg" %}" class="card-img-top" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">Witch Rosegold</h4>
                    <p>$ <span>3000</span></p>
                    <p class="card-text">aking inspiration from the stars on the night sky, this watch bracelet stack.</p>
                    <a href="#" class="btn btn-primary">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="card">
                  <img height="350vh" src="{% static "image/watch2.jpg" %}" class="card-img-top" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">Witch Rosegold Band</h4>
                    <p>$ <span>5000</span></p>
                    <p class="card-text">Wear a watch with ONE bracelet on one wrist.</p>
                    <a href="#" class="btn btn-primary">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="card">
                  <img height="350vh" src="{% static "image/whatch3.jpg" %}" class="card-img-top" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">Watch & Bracelet</h4>
                    <p>$ <span>1567</span></p>
                    <p class="card-text">Our boho inspired  watch print on dial and dainty  set .</p>
                    <a href="#" class="btn btn-primary">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="card">
                  <img height="350vh" src="{% static "image/whatch4.jpg" %}" class="card-img-top" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">Nebula Black Dial </h4>
                    <p>$ <span>1650</span></p>
                    <p class="card-text">STARRY NIGHT ROSEGOLD WATCH BRACELET STACK.</p>
                    <a href="#" class="btn btn-primary">Learn more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
    </div>

  </div>

{% endblock %}