{% extends 'base.html' %}
{% load static %}
{% block content %}

{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row mt-4">
    <img width="100%" height="350vh" src="https://www.jiomart.com/images/cms/offers/1657282650_ICICI-Bank-Offer-Banner-910x380-30_06_2022.jpg" alt="">
    </div>


<div class="container">
    <div class="row m-1">
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="card">
                  <img height="350vh" src="{% static "image/iphone-m1.jpg" %}" class="card-img-top" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">IPHONE 11</h4>
                    <p>$ <span>101500</span></p>
                    <p class="card-text">Apple iPhone 14 Pro Max 256 GB (Deep Purple, 6 GB RAM).</p>
                    <a href="#" class="btn btn-primary">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="card">
                  <img height="350vh" src="{% static "image/oppo-m1.jpg" %}" class="card-img-top" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">OPPO F5</h4>
                    <p>$ <span>28500</span></p>
                    <p class="card-text">Display: 6.4 Inches with a resolution of 2340 x 1080 Pixels and pixel density.</p>
                    <a href="#" class="btn btn-primary">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="card">
                  <img height="350vh" src="{% static "image/oppo-m2.jpg" %}" class="card-img-top" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">ONE + nord 2T</h4>
                    <p>$ <span>28500</span></p>
                    <p class="card-text">Camera: 50MP Main Camera with Sony IMX766 and OIS, 8MP Ultrawide Camera </p>
                    <a href="#" class="btn btn-primary">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="card">
                  <img height="350vh" src="{% static "image/sam-m1.jpg" %}" class="card-img-top" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">Samsung S22</h4>
                    <p>$ <span>28500</span></p>
                    <p class="card-text">Galaxy S22's bright and Galaxy S22+'s brightest display*.</p>
                    <a href="#" class="btn btn-primary">Learn more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
    </div>

  </div>


  
  <div class="container">
    <div class="row m-1">
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="card">
                  <img height="350vh" src="{% static "image/wm-1.jpg" %}" class="card-img-top" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">IFB Neo diva</h4>
                    <p>$ <span>29500</span></p>
                    <p class="card-text">6 KG L 800 RPM | SILVER
                        Front Load Washing Machine.</p>
                    <a href="#" class="btn btn-primary">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="card">
                  <img height="350vh" src="{% static "image/wm-2.jpg" %}" class="card-img-top" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">LG FMX-3214</h4>
                    <p>$ <span>28500</span></p>
                    <p class="card-text">10 KG | 1400 RPM | MOCHA
                        Front Load Washing Machine.</p>
                    <a href="#" class="btn btn-primary">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="card">
                  <img height="350vh" src="{% static "image/wm-3.jpg" %}" class="card-img-top" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">SMG Duo-341</h4>
                    <p>$ <span>26500</span></p>
                    <p class="card-text">6 KG L 800 RPM | SILVER
                        Front Load Washing Machine.</p>
                    <a href="#" class="btn btn-primary">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="card">
                  <img height="350vh" src="{% static "image/wm4.jpg" %}" class="card-img-top" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">SMG FT-LOAD</h4>
                    <p>$ <span>24500</span></p>
                    <p class="card-text">10 KG | 1400 RPM | MOCHA
                        Front Load Washing Machine.</p>
                    <a href="#" class="btn btn-primary">Learn more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
    </div>

  </div>



  
  <div class="container">
    <div class="row m-1 mb-1">
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="card">
                  <img height="350vh" src="{% static "image/ac1.jpg" %}" class="card-img-top" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">VOLTAS 1TON</h4>
                    <p>$ <span>28500</span></p>
                    <p class="card-text">SAMSUNG Convertible 5-in-1 Cooling 2023 Model 1 Ton 3 Star Split Inverter .</p>
                    <a href="#" class="btn btn-primary">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="card">
                  <img height="350vh" src="{% static "image/ac2.jpg" %}" class="card-img-top" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">LG 1TON</h4>
                    <p>$ <span>28500</span></p>
                    <p class="card-text">LWhite, Gold  (CAFG312HFEOZ1/CA312HFEOZ1, Copper Condenser)</p>
                    <a href="#" class="btn btn-primary">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="card">
                  <img height="350vh" src="{% static "image/ac3.jpg" %}" class="card-img-top" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">SAMG 1.5TON</h4>
                    <p>$ <span>28500</span></p>
                    <p class="card-text">(Current Item) 51B323G1 1.5 Ton | 5 Star | Inverter New Gold.</p>
                    <a href="#" class="btn btn-primary">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="card">
                  <img height="350vh" src="{% static "image/ac4.jpg" %}" class="card-img-top" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">SAM-G 1.5TON</h4>
                    <p>$ <span>28500</span></p>
                    <p class="card-text">6 KG L 800 RPM | SILVER
                        Front Load Washing Machine.</p>
                    <a href="#" class="btn btn-primary">Learn more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
    </div>

  </div>




{% endblock %}
{% endblock %}